@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

#vue-log-container {
    padding: 10px 0px 0px 10px;
    grid-row: 2 / 3;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
    scroll-snap-type: y mandatory;
    height: 100%;
}

#vue-log-container > div:last-child {
    scroll-snap-align: end;
}

#status-container div {
    font-size: 13px;
}

#sim-info {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

#sim-status {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.log-entry {
    display: grid;
    width: 100%;
    grid-template-columns: 156px 5px minmax(0, 1fr);
    grid-column-gap: 8px;
    font-size: 12px;
}

.log-timestamp {
    grid-column: 1 / 2;
    color: #00218b;
}

.log-level {
    grid-column: 2 / 3;
}

.log-msg {
    margin-right: 5px;
    grid-column: 3 / 4;
    overflow-wrap: break-word;
    text-align: left;
}

.clickable {
    cursor: pointer;
}

#log-filter-container {
    position: absolute;
    right: 0;
    margin: 0px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
}

#log-filter-container .log-filter-level {
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: white;
}

#log-filter-ctl-level-error {
    border-left: 1px solid #cccccc;
}

#log-filter-container .log-filter-level.selected-log-filter {
    font-size: 14px;
    font-weight: bold;
    background-color: #f0f0f0;
}

.level-error {
    color: rgb(200, 0, 0);
}

.level-debug {
    color: rgb(136, 18, 128);
}

.level-warning {
    color: rgb(255, 96, 0);
}

.level-output {
    color: #007000;
}

.level-input {
    color: #000070;
}

#log-filter-ctl-level-error.selected-log-filter .log-filter-selector {
    color: rgb(200, 0, 0);
}

#log-filter-ctl-level-debug.selected-log-filter .log-filter-selector {
    color: rgb(136, 18, 128);
}

#log-filter-ctl-level-warning.selected-log-filter .log-filter-selector {
    color: rgb(206, 102, 38);
}

#log-filter-ctl-level-output.selected-log-filter .log-filter-selector {
    color: #007000;
}

#log-filter-ctl-level-input.selected-log-filter .log-filter-selector {
    color: #000070;
}